:root {
    --my-blue: #2fa0d5;
    --my-pink: #fa97c2;
    --my-green: #73c926;
}

body {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 20px;
}

h1,
h2,
h3,
h4 {
    font-family: "Changa One", cursive;
    font-weight: 400;
}

h1 {
    font-size: 60px;
    line-height: 60px;
    font-weight: 900;
}

#navbarSupportedContent a {
    font-family: "Changa One", cursive;
    padding: 0 1.5rem;
}

#navbarSupportedContent #navBarList .active {
    color: var(--my-blue);
}

#banner {
    background-image: url("./images/bg_banner.gif");
}

#banner > div {
    background: url("./images/logo_bg.png") left top no-repeat,
        url("./images/search_bg.png") right top no-repeat;
}

#banner .btn {
    background-color: var(--my-pink);
    border: 0;
}

#banner .btn {
    border-radius: 15px;
}

@media (max-width: 992px) {
    #main .row > div:nth-child(n + 3) {
        margin-top: 20px;
    }
}

@media (max-width: 768px) {
    #main .row > div:nth-child(n + 2) {
        margin-top: 20px;
    }
}

@media (max-width: 576px) {
    #banner > div {
        background: none;
    }
}

#about {
    background-color: var(--my-pink);
}

.border-wrapper {
    border: 1px dashed black;
}

h2 {
    font-size: 60px;
}

#about .right .btn {
    background: black;
    text-transform: uppercase;
    border: none;
    border-radius: 15px;
}

#email {
    border: 0;
    border-radius: 5px;
}

#email:focus {
    outline: none;
}

@media (max-width: 768px) {
    #about h3 span {
        display: inline !important;
    }
}

#news h4 {
    background-color: var(--my-green);
    border-radius: 15px;
}

#news .left {
    min-width: 90px;
}

@media (max-width: 992px) {
    #news .row > div:nth-child(n + 2) {
        margin-top: 10px;
    }
}

#footer {
    background: url("./images/bg_footer.gif");
}

#footer nav .active {
    color: var(--my-pink) !important;
}

#footer nav a {
    color: #808080;
    font-family: "Changa One", cursive;
    padding: 0 1.5rem;
}
